<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{% if latest_tests_list %}
<ul>
    {% for tests in latest_tests_list %}
    <li><a href="{% url 'forStudents:question_of_test' tests.id %}">{{ tests.nameOfTest }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>Нет тестов. Обратитесь к администратору, чтобы он их создал через админку.</p>
{% endif %}
<p><a href="{% url 'logout' %}">Разлогиниться </a></p>
<p><a href="{% url 'forStudents:signup' %}">Регистрация</a></p>